<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Hiapi</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    ${self.header()}
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="../" class="navbar-brand" style="font-size:40px">Hiapi</a>
        </div><! --div navbar-header-->
        <div class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
          <ul class="nav navbar-nav" style="font-size:18px">
            ${show_header()}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a>Login</a></li>
          </ul>

          <div class="navbar-form navbar-right">
              <div class="form-group">
                <input type="text" placeholder="Email" class="form-control">
              </div>
              <div class="form-group">
                <input type="password" placeholder="Password" class="form-control">
              </div>
              <button type="submit" class="btn btn-success">Sign in</button>
          </div>
        </div> <!-- div collapse -->
      </div> <!-- div container-->
    </div> <!-- div navbar-->
    <div class="container">
      ${self.body()}
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>

<%def name="show_header()">
<%
header = [
["Test","/test"],
["Auto","/auto"],
["Report","/report"]
]
import web
path = web.ctx.path
path_list = path.split('/')
if len(path_list) > 1:
  tag = path_list[1]
else:
  tag = path_list[0]
%>
% for item in header:
<li class="
% if tag == item[0].lower():
  active
% endif
"><a href="${item[1]}">${item[0]}</a></li>
% endfor

</%def>
