<%inherit file="base.html"/>
<%block name="header">
</%block>
<%block name="body">
<div class="starter-template">
  <div class="container navbar navbar-default">
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">房源</a></li>
        <li><a href="#">小区</a></li>
        <li><a href="#">收藏</a></li>
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">公共管理接口 <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Nav header</li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">One more separated link</a></li>   </ul>
        </li>

        <li><a href="#">房源</a></li>
        <li><a href="#">小区</a></li>
        <li><a href="#">收藏</a></li>
        <li><a href="#">房源</a></li>
        <li><a href="#">小区</a></li>
        <li><a href="#">收藏</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="./">Anjuke</a></li>
        <li><a href="">Haozu</a></li>
        <li><a href="">Xinfang</a></li>
        <li><a href="">Jinpu</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
  ${json}
</div>
</%block>
